
/* 对头部底部中间进项通用样式设置 */
body{
    background-color: #f8f8f8;
    
}
/* 设置banner样式 */
.banner{
    /* margin-top: -80px; */
    z-index: 1;
}
.imgbox{
    width: 100%;
    background: url(../images/banner01.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
}

.ad{
    background: url(../images/banner-找工作上快招.jpg) no-repeat center;
    background-size: cover;
}
/* 设置中间样式 */
.center{
    /* z-index: 13; */
    background-color: #f8f8f8;
    width: 100%;
    /* margin-top: 60px; */
    /* clear:both; */
    overflow: hidden;
    /* display: block; */
}
.center_content{
    background-color: #f8f8f8;
    width: 1200px;
    margin: 0 auto;
    /* overflow: hidden; */
}
/* 设置新闻样式 */
.xinwen{
    /* clear: both; */
    /* overflow: hidden; */
    margin-top: 24px;
    margin-bottom: 24px;
    /* height: 400px; */
}
.content_title{
    height: 64px;
    background-color: #f8f8f8;
}
.content_title h3{
    line-height: 64px;
    color: #222;
    font-size: 24px;
    display: block;
    float: left;
}
.content_title a{
    font-size: 16px;
    line-height: 64px;
    color: #666;
    display: block;
    float: right;
}
.content_title a:hover{
    text-decoration: underline;
}
#xinwen_content{
    margin-left: -12px;
    margin-right: -12px;
}
.xinwen_item{
    width: 408px;
    float: left;
    /* margin-left: 24px; */
}
.item_box{
    margin: 0 12px 24px 12px;
    border-radius:8px 8px 8px 8px;
    display: block;
    transition: all .3s ease;
    overflow: hidden;
    /* clear: both; */
    /* background-color: white; */
}
.item_box:hover{
    /* background-color: white; */
    /* margin-top: 0px; */
    /* margin-bottom: 29px; */
    box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.1);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -ms-transform: translateY(-5px);
}
.xinwen_img{
    background: url(../images/新闻资讯大图01.jpg) no-repeat center center;
    background-size:cover;
    width: 140px;
    height: 140px;
    float: left;
    border-radius:8px 0 0 8px;
}
.xinwen_neirong{
    /* padding: 16px; */
    float: right;
    width: 244px;
    height: 140px;
    background-color: #fff;
    border-radius: 0 8px 8px 0;
}
.neirong_box{
    padding: 16px;
}
.tad{
    height: 80px;
}
.xinwen_neirong h4{
    font-size: 16px;
    color: #222;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; 
}
.xinwen_neirong p{
    margin-top: 8px;
    font-size: 14px;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden; 
}
/* 设置快招平台样式 */
.kuaizhaopingtai{
    overflow: hidden;
    /* margin-top: 24px; */
    background-color: #fff;
    width: 1200px;
    height: 504px;
    border-radius:8px;
}
.kuaizhao_left{
    width: 520px;
    height: 266px;
    padding: 108px 40px 130px 88px;
    float: left;
}
.kuaizhao_left h1{
    font-size: 32px;
    color: #222;
}
.kuaizhao_left h2{
    font-size: 20px;
    color: #1E98FF;
    margin-top: 8px;
}
.kuaizhao_left p{
    font-size: 16px;
    color: #222;
    margin-top: 20px;
}
.download{
    margin-top: 56px;
}
.download_btn{
    /* background-color: #1E98FF; */
    border-radius: 4px;  
    width: 144px;
    height: 48px;
    line-height: 48px;
    /* display: block; */
    text-decoration: none;
    display: inline-block;
}
.appd{
    background-color: #1E98FF;
}
.wethatd{
    background-color: #FF9A1D;
    margin-left: 16px;
}
.download_btn i{   
    margin-top: 16px;
    margin-left: 16px;
    width: 16px;
    height: 16px;
    float: left;
}
.appd i{
    background: url(../images/APP.png) no-repeat center center;
    background-size: cover;  
}
.wethatd i{
    background: url(../images/微信.png) no-repeat center center;
    background-size: cover;
}
.download_btn span{
    color: #fff;
    font-size: 14px;
    box-sizing: content-box;
    margin-left: 16px;
}
.kuaizhao_right{
    float: right;
    width: 510px;
    height: 504px;
    margin: 72px auto;
}
.kuaizhao_img{
    background: url(../images/手机.png) no-repeat center center;
    background-size: cover;
    width: 350px;
    height: 360px;
}

@media only screen and (max-width:1700px){
    .imgbox{
        height: 450px;
    }
}
@media only screen and (max-width:1440px){
    .imgbox{
        height: 380px;
    }
}
@media only screen and (max-width:1248px){
    .imgbox{
        height: 316px;
    }
    .center_content{
        width: 100%;
    }
    .xinwen{
        padding: 0 24px; 
    }
    .xinwen_item{
        width: 33.33%;
    }
    .xinwen_img{
        width: 36%;
    }
    .xinwen_neirong{
        width: 64%;
    }
    .kuaizhaopingtai{
        width: 100%;
    }
    .kuaizhao_left{
        width: 36.3%;
        padding: 108px 6.6% 130px 14.6%;
    }
    .kuaizhao_right{
        float: right;
        width: 42.5%;
        height: 504px;
        margin: 72px auto;
    }
}
@media only screen and (max-width:1000px){
    .imgbox{
        height: 202px;
    }
    #xinwen_content{
        /* height: 160px; */
        /* overflow: hidden; */
    }
    .xinwen_item{
        width: 50%;
    }
    .kuaizhao_left{
        width: 44.3%;
        padding: 108px 6.6% 130px 6.6%;
    }
}
@media only screen and (max-width:840px){
    .banner{
        padding: 76px 16px 16px 16px;
    }
    .imgbox{
        height: 180px;
        border-radius:4px;
    }
    .xinwen{
        padding: 0 16px; 
        /* overflow: hidden; */
        margin-top: 0px;
    }
    .content_title{
        height: 50px;
        background-color: #f8f8f8;
        /* background-color:rgb(1, 1n, 100); */
    }
    .content_title h3{
        line-height: 50px;
        font-size: 16px;
    }
    #xinwen_content{
        margin-left: -8px;
        margin-right: -8px;
    }
    .item_box{
        margin: 0 8px 16px 8px;
    }

}
@media only screen and (max-width:480px){
    .imgbox{
        height: 128px;
    }
    .xinwen_item{
        width: 100%;
        /* margin-bottom: 16px; */
        /* clear: both; */
    }
    #xinwen_content{
        margin-left: -8px;
        margin-right: -8px;
        /* margin-top: -16px; */
        height: 452px;
        overflow: hidden;
    }
    .item_box{
        margin: 0 8px 16px 8px;
    }
}