
/* 对头部底部中间进项通用样式设置 */
body{
    background-color: #f8f8f8;
    
}
/* 设置banner样式 */
.banner{
    /* margin-top: -80px; */
    z-index: 1;
}
.imgbox{
    width: 100%;
    background: url(../images/banner-找工作上快招.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
}

.ad{
    background: url(../images/banner-找工作上快招.jpg) no-repeat center;
    background-size: cover;
}
/* 设置中间样式 */
.center_content{
    background-color: #f8f8f8;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
/* 设置新闻样式 */
.xinwen{
    overflow: hidden;
    margin-top: 24px;
}
.content_title{
    height: 64px;
    background-color: #f8f8f8;
}
.content_title h3{
    line-height: 64px;
    font-size: 24px;
}
.xinwen_content{
    margin-left: -24px;
}
.xinwen_item{
    width: 384px;
    float: left;
    margin-left: 24px;
}
.xinwen_img{
    background: url(../images/新闻资讯大图01.jpg) no-repeat center center;
    background-size:cover;
    width: 140px;
    height: 140px;
    float: left;
    border-radius:8px 0 0 8px;
}
.xinwen_neirong{
    padding: 16px;
    float: right;
    width: 212px;
    height: 108px;
    background-color: #fff;
    border-radius: 0 8px 8px 0;
}
.xinwen_neirong h4{
    font-size: 16px;
    color: #222;
}
.xinwen_neirong p{
    margin-top: 8px;
    font-size: 14px;
    color: #666;
}
/* 设置快招平台样式 */
.kuaizhaopingtai{
    overflow: hidden;
    margin-top: 24px;
    background-color: #fff;
    width: 1200px;
    height: 504px;
    border-radius:8px;
}
.kuaizhao_left{
    width: 520px;
    height: 266px;
    padding: 108px 40px 130px 88px;
    float: left;
}
.kuaizhao_left h1{
    font-size: 32px;
    color: #222;
}
.kuaizhao_left h2{
    font-size: 20px;
    color: #1E98FF;
    margin-top: 8px;
}
.kuaizhao_left p{
    font-size: 16px;
    color: #222;
    margin-top: 20px;
}
.download{
    margin-top: 56px;
}
.download_btn{
    /* background-color: #1E98FF; */
    border-radius: 4px;  
    width: 144px;
    height: 48px;
    line-height: 48px;
    /* display: block; */
    text-decoration: none;
    display: inline-block;
}
.appd{
    background-color: #1E98FF;
}
.wethatd{
    background-color: #FF9A1D;
    margin-left: 16px;
}
.download_btn i{   
    margin-top: 16px;
    margin-left: 16px;
    width: 16px;
    height: 16px;
    float: left;
}
.appd i{
    background: url(../images/APP.png) no-repeat center center;
    background-size: cover;  
}
.wethatd i{
    background: url(../images/微信.png) no-repeat center center;
    background-size: cover;
}
.download_btn span{
    color: #fff;
    font-size: 14px;
    box-sizing: content-box;
    margin-left: 16px;
}
.kuaizhao_right{
    float: right;
    width: 510px;
    height: 504px;
    margin: 72px auto;
}
.kuaizhao_img{
    background: url(../images/手机.png) no-repeat center center;
    background-size: cover;
    width: 350px;
    height: 360px;
}

@media only screen and (max-width:1700px){
    .imgbox{
        height: 450px;
    }
}
@media only screen and (max-width:1440px){
    .imgbox{
        height: 380px;
    }
}
@media only screen and (max-width:1200px){
    .imgbox{
        height: 316px;
    }
    .center_content{
        width: 100%;
    }
    .center_box{
        padding: 0 16px;
    }
    .xinwen_content{
        margin-left: -2%;
    }
    .xinwen_item{
        width: 31%;
        margin-left: 2%;
    }
    .xinwen_img{
        width: 36.5%;
    }
    .xinwen_neirong{
        width: 50.5%;
        padding: 16px 6.5% 16px 6.5%;
    }
    .kuaizhaopingtai{
        width: 100%;
    }
    .kuaizhao_left{
        width: 36.3%;
        padding: 108px 6.6% 130px 14.6%;
    }
    .kuaizhao_right{
        float: right;
        width: 42.5%;
        height: 504px;
        margin: 72px auto;
    }
}
@media only screen and (max-width:1000px){
    .imgbox{
        height: 202px;
    }
    .xinwen_content{
        height: 140px;
        overflow: hidden;
    }
    .xinwen_item{
        width: 47%;
        margin-left: 2%;
    }
    .kuaizhao_left{
        width: 44.3%;
        padding: 108px 6.6% 130px 6.6%;
    }
}
@media only screen and (max-width:840px){
    .xinwen_content{
        height: 300px;
        overflow: hidden;
        margin-top: -16px;
    }
    .xinwen_item{
        width: 100%;
        margin-left: 0;
        margin-top: 16px;
    }

}