
/* 对头部底部中间进项通用样式设置 */
body{
    background-color: #f8f8f8;
    
}

/* 对头部信息设置样式 */
#head{
    height: 60px;
    background-color: #fff;
    /* border-bottom: 1px solid #d9d9d9; */
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
}
.header_content{
    height: 60px;
    margin: 0 auto;
    width: 1200px;   
}
.logo{
    margin-top:14px;
    float: left;
}
.logo_img{
    background: url(../images/logo-蓝.png) no-repeat center center;
    background-size: cover;      
    width: 64px;
    height: 32px;
}

.header_right{
    float: right;
    /* width: 80%; */
}
.header_right li{
    width: 70px;
    height: 60px;
    line-height: 60px;
    margin-left: 70px;
    float: right;
    text-align: center;
    list-style-type: none;
    color: #222222;
    font-size: 16px;
}
.header_right li a{
    color:#222;
}
.header_right li a:hover{
    text-decoration: underline;
}
/* 设置中间样式 */
.center_content{
    background-color: #f8f8f8;
    width: 1200px;
    margin: 60px auto 0 ;
    overflow: hidden;
}
/* 设置新闻样式 */
.xinwen{
    overflow: hidden;
    margin-top: 24px;
}
.content_title{
    height: 64px;
    background-color: #f8f8f8;
}
.content_title h3{
    line-height: 64px;
    font-size: 24px;
}
#xinwen_content{
    margin-left: -12px;
    margin-right: -12px;
}
.xinwen_item{
    width: 408px;
    float: left;
}
.item_box{
    padding: 0 12px 24px 12px;
}
.xinwen_img{
    /* background: url(../images/新闻资讯大图01.jpg) no-repeat center center;
    background-size:cover; */
    width: 384px;
    height: 232px;
    border-radius:8px 8px 0 0;
}
.xinwen_img img{
    width:100%;
    height: auto;
    object-position: center center;
    object-fit: contain;
}
.xinwen_neirong{
    width: 384px;
    height: 181px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
}
.neirong_box{
    padding: 16px;
}
.xinwen_neirong h4{
    font-size: 16px;
    color: #222;
}
.xinwen_neirong p{
    margin-top: 16px;
    font-size: 14px;
    color: #666;
}
/* 底部样式 */
#foot{ 
    width: 100%;
    height: 296px;
    background-color: #f8f8f8;
    margin-top: 24px;
    /* padding-top: 24px; */
}
.foot_content{
    margin: 0px auto;
    padding-top: 24px;
    width: 1200px;
    height: 296px;
    overflow: hidden;
}
.foot_left li{
    list-style-type: none;
    font-size: 14px;
    line-height: 36px;
    color: #222;
}
.foot_left ul{
    float: left;
    margin-right: 68px;
    /* line-height: 24px; */
}
.foot_left .first{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}
.foot_content .qc{
    width: 140px;
    height: 162x;
    float: right;
    padding: 8px 0 10px 0;
    background-color: #fff;
    text-align: center;
    border-radius:8px;
}
.foot_content .qc span{
    font-size: 14px;
    color: #666;
}

@media only screen and (max-width:1248px){
    .header_content{
        width: 100%;
    }
    .logo{
        margin-left: 24px;
    }
    .header_right{
        margin-right: 24px;
    }
    .header_right li{
        width: 80px;
    }
    .center_content{
        width: 100%;
    }
    .center_box{
        padding: 0 24px;
    }
    .xinwen_item{
        width: 33.33%;
    }
    .xinwen_img{
        width: 100%;
    }
    .xinwen_neirong{
        width: 100%;
    }
    .foot_content,#main{
        width: 100%;
    }
}
@media only screen and (max-width:1024px){
    .header_right li{
        margin-left: 30px;
    }
    .imgbox{
        height: 202px;
    }
    .xinwen_item{
        width: 50%;
    }
}
@media only screen and (max-width:840px){
    #head{
        background-color: #fff;
    }
    .logo{
        margin-left: 0px;
        width: 100%;
    }
    .logo_img{  
        text-align: center;
        margin: 0 auto;     
        background: url(../images/logo-蓝.png) no-repeat center center;
        width: 64px;
        height: 32px;
        background-size: cover;
    }
    .header_right{
        display: none;        
    }
    .center_box{
        padding: 0 16px;
    }
    #xinwen_content{
        margin-left: -8px;
        margin-right: -8px;
    }
    .item_box{
        padding: 0 8px 16px 8px;
    }
}
@media only screen and (max-width:480px){
    .xinwen_item{
        width: 100%;
    }
}