
/* 对头部底部中间进项通用样式设置 */

body{
    background-color: #ffffff;
    
}

/* 设置中间样式 */
.center{
    /* z-index: 13; */
    background-color: #f8f8f8;
    width: 100%;
    margin-top: 60px;
    /* clear:both; */
    overflow: hidden;
    /* display: block; */
}
.center_content{
    width: 1200px;
    margin: 0 auto;
}
/* 设置新闻样式 */
.xinwen{
    /* overflow: hidden; */
    /* clear:both; */
    margin-top: 24px;
}
.content_title{
    height: 64px;
    background-color: #f8f8f8;
    /* background-color:rgb(1, 1n, 100); */
}
.content_title h3{
    line-height: 64px;
    font-size: 24px;
}
#xinwen_content{
    margin-left: -12px;
    margin-right: -12px;
}
.xinwen_item{
    width: 408px;
    float: left;
}
.item_box{
    margin: 0px 12px 24px 12px;
    border-radius:8px 8px 8px 8px;
    display: block;
    transition: all .3s ease;
    /* background-color: white; */
}
.item_box:hover{
    /* background-color: white; */
    /* margin-top: 0px; */
    /* margin-bottom: 29px; */
    box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.1);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -ms-transform: translateY(-5px);
}
.xinwen_img{
    /* background: url(../images/新闻资讯大图01.jpg) no-repeat center center;
    background-size:cover; */
    width: 384px;
    height: 232px;
    border-radius:8px 8px 0 0;
}
.xinwen_img img{
    width:100%;
    height: auto;
    object-position: center center;
    object-fit: contain;
}
.xinwen_neirong{
    width: 384px;
    height: 181px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
}
.neirong_box{
    padding: 16px;
}
.tad{
    height: 113px;
}
.xinwen_neirong h4{
    font-size: 16px;
    color: #222;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;   
}
.xinwen_neirong p{
    margin-top: 16px;
    font-size: 14px;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;   
}


@media only screen and (max-width:1248px){
    .center_content{
        width: 100%;
    }
    .xinwen{
        padding: 0 24px; 
    }
    .xinwen_item{
        width: 33.33%;
    }
    .xinwen_img{
        width: 100%;
    }
    .xinwen_neirong{
        width: 100%;
    }
}
@media only screen and (max-width:1024px){
    .imgbox{
        height: 202px;
    }
    .xinwen_item{
        width: 50%;
    }
}
@media only screen and (max-width:840px){
    .xinwen{
        margin-top: 16px;
        padding: 0 16px; 
    }
    .content_title{
        height: 50px;
        background-color: #f8f8f8;
    }
    .content_title h3{
        line-height: 50px;
        font-size: 16px;
    }
    #xinwen_content{
        margin-left: -8px;
        margin-right: -8px;
    }
    .item_box{
        margin: 0 8px 16px 8px;
    }
}
@media only screen and (max-width:480px){
    .xinwen_item{
        width: 100%;
    }
}