*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.left_float{
    float: left;
}
.right_float{
    float: right;
}
/* 对头部信息设置样式 */
#head{
    height: 60px;
    /* border-bottom: 1px solid #d9d9d9; */  
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
}
.dis_w{
    display: none;
}
.head_o{
    background-color: rgba(255, 255, 255, 0);    
}
.head_w{
    background-color: rgba(255, 255, 255, 1);
}
.header_content{
    height: 60px;
    margin: 0 auto;
    width: 1200px;
    clear: both;
}
.logo{
    margin-top:14px;
    float: left;
    height: 46px;
}
.logo_img{        
    width: 80px;
    height: 32px;
    background: url(../images/logo-light.svg) no-repeat center center;
    background-size: cover;  
}
.logo_b{
    width: 80px;
    height: 32px;
    background: url(../images/logo-dark.svg) no-repeat center center;
    background-size: cover;  
}

.header_right{
    float: right;
    /* width: 80%; */
}
.header_right li{
    /* width: 70px; */
    height: 60px;
    line-height: 60px;
    margin-left: 70px;
    float: left;
    text-align: center;
    list-style-type: none;  
    font-size: 16px;
}
.head_w  li a{
    color: #222;
}
.head_o li a{
    color:#fff;
}
.header_right li a:hover{
    text-decoration: underline;
}
label{
    display: none;
    position: relative;
    top: -60px;
    font-size: 24px;
    color: #222;
    line-height: 60px;
    float: right;
    width: 60px;
    height: 60px;
    text-align: center;
}
#toggle{
    display:none;
}
.menu a{
    margin: 0 10px;
    text-decoration: none;
    color: gray;
}
.menu{
    margin: 0 30px 0 0;
}
.menu a span{
    color:#54d17a;
}
/* 底部样式 */
#foot{ 
    width: 100%;
    /* height: 296px; */
    background-color: #f8f8f8;
    /* margin-top: 24px; */
    /* padding-top: 24px; */
}
.foot_content{
    margin: 0px auto;
    /* padding-top: 24px; */
    width: 1200px;
    /* height: 296px; */
    overflow: hidden;
}
.foot_box{
    margin-top: 48px;
}

.foot_right{
    margin: 0 auto;
    width: 100%;

    /* width: 140px; */
    /* height: 162x; */
}
.qc{
    margin: 0 auto;
    width: 162px;
    height: 162x;
    /* float: right; */
    padding: 8px 0 10px 0;
    background-color: #fff;
    text-align: center;
    border-radius:8px;
}
.qc img{
    width: 140px;
    height: 140px;
}
.qc span{
    font-size: 14px;
    color: #666;
    display: block;
}
.foot_bottom{
    padding-top: 32px;
    height: 60px;
    line-height: 60px;
    clear: both;
    font-size: 14px;
    color: #222;
    text-align: center;
}
.foot_bottom span{
    display: block;
}
@media only screen and (max-width:1248px){
    .header_content{
        width: 100%;
    }
    .logo{
        margin-left: 24px;
    }
    .header_right{
        margin-right: 24px;
    }
    .foot_content{
        width: 100%;
    }
    .foot_box{
        padding: 0 24px;
    }
}
@media only screen and (max-width:1000px){
    .header_right li{
        margin-left: 30px;
    }
}
@media only screen and (max-width:840px){
    #head{
        background-color: #fff;
    }
    .logo{
        margin-left: 0px;
        width: 100%;
    }
    .logo_img{  
        text-align: center;
        margin: 0 auto;     
        background: url(../images/logo-dark.svg) no-repeat center center;
        /* width: 94px; */
        /* height: 32px; */
        background-size: cover;
        /* display: none; */
    }
    .logo_b{
        /* display: block; */
        text-align: center;
        margin: 0 auto;     
        background: url(../images/logo-dark.svg) no-repeat center center;
        /* width: 94px; */
        /* height: 32px; */
        background-size: cover;
    }
    .foot_left{
        width: 100%;
    }
    .foot_right{
        width: 100%;       
    }
    .foot_bottom{
        padding-top: 16px;
    }
    .foot_bottom span{
        width: 100%;
        text-align: center;
        line-height: 1.5;
    }
    .qc{
        margin: 16px auto;
        width: 126px;
        height: 126px;
        padding: 4px 0 4px 0;
        border-radius:4px;
    }
    .qc img{
        width: 100px;
        height: 100px;
    }
    .foot_left ul{
        width: 100%;;
        margin-right: 0px;
        /* line-height: 24px; */
    }
    .foot_left .first{
        font-size: 16px;
        font-weight: normal;
        line-height: 52px;
        margin-bottom: 0px;
        color: #222;
    }
    .foot_left li{
        list-style-type: none;
        font-size: 14px;
        line-height: 40px;
        color: #666;
    }
    label{
        display: block;
        cursor: pointer;
    }
    .header_right{
        margin-top: -60px;
        width: 100%;
        display: none;
        text-align: center;
        background-color: #fff;
        clear: both;
        margin-right: 0px;
    }
    .header_right li{
        width: 100%;
        margin-left: 0;
    }
    .header_right li a{
        color:#222;
    }
    /* 这是个技术点 */
    #toggle:checked + .header_right{  
        transition: all 0.4s ease-in;
        display: block;
    }
    
}